
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "Lotto App", root_path, id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home", 	root_path		%></li>
						<li><%= link_to "Lotto", 	lotto_path	%></li>
						<li><%= link_to "Euro", 	euro_path 	%></li>
						<li><%= link_to "External link", 'http://www.bbc.co.uk' %>
					</ul>
				</nav>
			</div>
		</div>
	</header>
